body {
    background-color: rgb(41, 95, 255);
    background-image: url(/public/noise-light.png);
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: 250px, 250px;
    padding:0px;
    margin:0px;

} 

a {
    font-weight: 700;
    font-size: large;
    text-decoration: none;
    color: black;
}

a:hover {

    color: rgb(74, 121, 150);
}

#NavBar {
    margin: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    width: max-content;
    box-shadow: 2px 3px 20px black;
    background: #ffffffdb;
    border-radius: 12px;
    position: sticky;
    top: 1rem;
    z-index: 100;

}

#NavBar a {
    margin: 0.5rem;
}



#app {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    border-radius: 12px;
    width: 70rem;
    max-width: 100vw;
}

.content h1 {
    color: white;
    text-shadow: 2px 3px 10px black;
}
#homeButton {
    box-shadow: 2px 3px 20px black;
    background: #7dc0ff50;
    position: absolute;
    width:100%;
    height: 4.5rem;
    z-index: 100;
}
#homeButton p {
    margin: 0.5rem;
}
#homeButton h1 {
    margin: 1rem;

}
.ImageCard {
    width: 20rem;
    position: relative;
    box-shadow: 2px 3px 10px black;
    border-radius: 12px;
    margin: 0.5rem;
    display:flex;
    flex-grow: 1;
    
}
#section {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 20rem;
}
.TextCard {
    position: relative;
    box-shadow: 2px 3px 10px black;
    border-radius: 12px;
    display:flex;
    flex-flow: row wrap;
    flex-grow: 1;
    max-width: 90%;
    margin: 0.5rem;
}
